{% extends 'poster/base.html' %}

{% block content %}

<div class="form">

    <h1 style="font-size: 40px ;" class="form__title">{{title}}</h1>

    <form class="form__wrapper" action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form__errors">{{form.non_field_errors}}</div>

        <!-- {{form.as_p}} -->
        {% for f in form %}
            <p><label for="{{f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>
            <div class="form__errors">{{f.errors}}</div>
        {% endfor %}
 
        <button class="form__button" type="submit">Добавить</button>
    </form>
</div>

{% endblock %}